<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>
  
<body>
  
 <%- include('./partials/nav.ejs') %>

 <%- include('./partials/welcome.ejs') %>

  <div class="container">
    <h1>404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>This page is not available at the moment.</p>
    <a href="/">Go Back Home</a>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>