<!-- Contact Section -->
<section id="contact" class="py-5">
    <div class="container">
        <h2 class="text-center">Contact Us</h2>
        <p class="text-center">For questions or collaboration, reach out to us:</p>
        <ul class="list-unstyled text-center">
            <li>Email: <a href="mailto:ownerkirimi@gmail.com">ownerkirimi@gmail.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/denis-kirimi/" target="_blank">Denis Kirimi</a></li>
        </ul>
    </div>
</section>