<nav class="navbar">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/volunteers">For Volunteers</a></li>
        <li><a href="/organizations">For Organizations</a></li>
      </ul>
    </nav>