<!-- Organizations Section -->
<section id="organizations" class="py-5">
    <div class="container">
        <h2 class="text-center">For Organizations</h2>

        <p> Find volunteers who can contribute to your initiatives effectively.</p>

        <div class="row">
        <div class="col-md-4">
           <h4>Register and Post Opportunities</h4>
         <p>
           <li>Post detailed descriptions of volunteering opportunities, including required skills</li>
         <p>
        </div>

        <div class="col-md-4">
           <h4>View Applicants</h4>

        <p>

          <li>Manage and review applications to find the right volunteers</li>

        <p>
        </div>
       </div>
</section>