 <!-- Volunteers Section -->
 <section id="volunteers" class="py-5">
    <div class="container">
        <h2 class="text-center">For Volunteers</h2>

        <h3> Join us to find volunteer opportunities that match your skills and availability.</h3>

        <div class="row">
        <div class="col-md-4">
            <h4>Sign Up and Profile Creation</h4>
        <p>
          <li>Create your profile with details about your skills and availability.</li>
        <p>
        </div>

        <div class="col-md-4">
          <h4>Browse Opportunities</h4>

        <p>
            <li>View available volunteering opportunities that suit your interests.</li>
        <p>
        </div>

        <div class="col-md-4">
          <h4>Match Suggestions</h4>
        <p>

          <li>Receive personalized recommendations for volunteering</li>

        <p>
        </div>
        </div>
    </div>
</section>